{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      Your Todos
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
          <tr>
            <td>{{ loop.index }}</td>
            <td {% if todo.complete %} class="strike-through-td"{% endif %}>
              {{ todo.title }}
            </td>
            <td>
              <button class="btn btn-sm btn-outline-primary"
                onclick="window.location.href='edit-todo-page/{{ todo.id }}'">
                Edit
              </button>

  <button
    class="btn btn-sm btn-outline-danger delete-btn"
    data-todo-id="{{ todo.id }}">
    Delete
  </button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <a href="add-todo-page" class="btn btn-primary">Add Todo</a>
    </div>
  </div>
</div>
{% endblock %}
